{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<img src="http://www.emsi.ma/wp-content/uploads/2018/03/Slide-002-Z.jpg" style="width:1000px;" alt=" ">


	</div>
{% endblock %}
