{% extends "base.html.twig" %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header d-block">
					<h3>Nouveau Cour</h3>
				</div>
				<div class="card-body">
					<form action="{{path('Cours.store')}}" method="POST">
						<div class="row">

							<label class="col-sm-4 col-lg-4 col-form-label">Initule</label>
							<div class="col-sm-8 col-lg-8">
								<div class="input-group">
									<span class="input-group-prepend">
										<label class="input-group-text">
											<i class="ik ik-terminal"></i>
										</label>
									</span>
									<input type="text" name="initule" class="form-control" required>
								</div>
							</div>

						</div>
						<button class="btn btn-success" style="float:right;">
							<i class="ik ik-save"></i>
							Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
